body {
    background-color: black;
    text-align: center;

}

section {
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 20vh;
}

#anagrama {
    color: white;

}

#exemplo {
    margin-top: 40vh;
    color: rgb(0, 0, 0);
}

#click {
    margin-top: 120vh;
}