body {
    background-color: black;
    text-align: center;

}

section {
    background-color: blue;
    height: 100px;
    width: 100px;
}

#anagrama {
    color: white;

}

#exemplo {

    color: white;
}